.navbar-custom {
    color: #FFFFFF;
    background-color: #FFA233;
}

.menu-color {
	color : #FFFFFF;
}
.panel-title
{
	font-size: 14px;
        line-height: 20px;
}

label {
    font-weight: normal !important;
}

